.classify {
  .left-navbar {
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #eee;
    font-size: 30px;

    .nav-text {
      height: 80px;
      line-height: 80px;
      text-align: center;
    }
  }

  .title {
    font-size: 35px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .active {
    background-color: #FFF;
    color: red;
  }

  .right-content {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;

    .good-list {
      margin-top: 15px;
      padding: 0 15px;

    }

    .good-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      height: 250px;
      border-bottom: 1px solid #EBEEF5;
      padding-bottom: 15px;
    }

    .good-right-cont {
      margin-left: 20px;
      height: 100%;
      line-height: 100%;
    }

    .good-img {
      display: block;
      flex-shrink: 0;
      width: 200px;
      height: 100%;
    }

    .good-title {
      height: 100%;
      font-size: 32px;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
    }

    .good-desc {
      font-size: 28px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: #717172;
      margin: 10px 0;
    }

    .good-auther {
      font-size: 28px;
      color: #717172;
    }
  }
}
